* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    /* overflow-y: hidden; Hide vertical scrollbar */
    padding: 20px;
}

.container {
    display: grid;
    grid-template-columns: 70vw auto;
    overflow-y: hidden; 
}

@media only screen and (vmin: 500px) {
    .container {
        display: grid;
        grid-template-columns: auto;
    }
}
    
.description {
    text-align: justify;
}

.title {
    text-align: center;
    font-weight: 800;
}

#helix {
  height: 0;
  width: 100px;
  margin: 30px auto;
}

.pivot {
    padding: 0;
    height: 0;
    border: none;
    color: transparent;
    /* background-image: linear-gradient(blue, lightblue, blue);
    border-radius: 100px;
  border: 1px solid black; */
  transform: rotateY(10deg);
  transform-style: preserve-3d;
  animation: rot 3s infinite cubic-bezier(1,1,1,1);
}

.fixedDiv {
    position: absolute;
    height: 10px;
    width: 100px;
    left: 2px;
    color: transparent;
    background-image:  linear-gradient(rgba(255, 255, 255, .5), rgb(0,0,0,0), rgb(0,0,0,.3)), linear-gradient(90deg, blue 50%, red 50%);
    /* border: 1px solid black; */
    transform: rotate3d(0, 1, 0, 20deg);
    transform-style: preserve-3d;
    /* animation: fadeIn 1s; */
}

.fixedDiv::after {
    perspective: 100px;
    content: "";
    width: 10px;
    height: 30px;
    top: -12px;
    position: absolute;
    right: -6px;
    background-image: linear-gradient(-90deg, brown, rgb(95, 13, 13));
    font-weight: bold;
    font-size: 1.5ex;
    text-align: right;
    transform: rotate3d(-.4, 1, -.5, 90deg);
    transform-style: preserve-3d;
    border-radius: 4px 0 4px 0;
    animation: fadeIn 1s;
}

.fixedDiv::before {
    content: "";
    width: 10px;
    height: 30px;
    position: absolute;
    left: -7px;
    top: -12px;
    background-image: linear-gradient(90deg, brown, rgb(95, 13, 13));
    font-weight: bold;
    font-size: 1.5ex;
    text-align: right;
    transform: rotate3d(.59, 1, .3, 90deg);
    transform-style: preserve-3d;
    border-radius: 4px 0 4px 0;
    animation: fadeIn 1s;
}

.invertColor {
    background-image: linear-gradient(rgba(255, 255, 255, .5), rgb(0,0,0,0), rgb(0,0,0,.3)), linear-gradient(90deg, yellow 50%,green 50%);
}

.invertGradient {
    background-image: linear-gradient(rgba(255, 255, 255, .5), rgb(0,0,0,0), rgb(0,0,0,.3)), linear-gradient(90deg, red 50%,blue 50%);
}

.invertColor.invertGradient {
    background-image: linear-gradient(rgba(255, 255, 255, .5), rgb(0,0,0,0), rgb(0,0,0,.3)), linear-gradient(90deg, green 50%,yellow 50%);
}



@keyframes rot {
    from {
        transform: rotateY(0deg);
    } to {
        transform: rotateY(360deg);
    }
}

@keyframes leftShift {
    0% {
        left: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}